<div class="form-group">
    <div class="form-group" style="padding: 0px 15px">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <span>Ho ten</span>
            </div>
            <div class="col-md-6 col-sm-6">
                <input placeholder="Nhập họ tên" class="form-control" [(ngModel)]="searchResponseModel.fullname" >
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <span>Địa chỉ</span>
            </div>
            <div class="col-md-6 col-sm-6">
                <input placeholder="Nhập username" class="form-control" [(ngModel)]="searchResponseModel.username" >
            </div>
        </div>
<!--        <div class="row">-->
<!--            <div class="col-md-6 col-sm-6">-->
<!--                <span>Phòng ban</span>-->
<!--            </div>-->
<!--            <div class="col-md-6 col-sm-6">-->
<!--                <input placeholder="Nhập phòng ban" class="form-control" [(ngModel)]="searchResponseModel.userType" >-->
<!--            </div>-->
<!--        </div>-->
    </div>
    <div class="form-group text-center">
        <button (click)="doSearch()" class="btn btn-primary">Search</button>
    </div>
    <div class="form-group">
        <h3>Danh sách User</h3>
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr class="text-center">
                    <th class="text-center">STT</th>
                    <th class="text-center">Username</th>
                    <th class="text-center">Họ và Tên</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Phone</th>
                    <th class="text-center">Chức vụ</th>
                    <th class="text-center">Phòng ban</th>
                    <th class="text-center">Trạng thái</th>
                    <th class="text-center">Ngày cập nhật</th>
                    <th class="text-center" style="width: 250px">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let u of employee; let i = index">
                    <td class="text-center"> {{i+1 +(pageOptions.page * pageOptions.pageSize)}} </td>
                    <td> {{u.username}} </td>
<!--                    <td> {{u.gender === 0 ? 'Nu' :'Nam'}} </td>-->
                    <td>{{u.fullName}}</td>
                    <td> {{u.email}} </td>
                    <td> {{u.phone_number}} </td>
                    <td> {{u.role_name}} </td>
                    <td> {{u.department_name}} </td>
                    <td> {{u.is_actived}} </td>
                    <td> {{u.created_date | date:'yyyy/mm/dd'}} </td>
                    <td class="text-center">
                        <div class="btn-group">
                            <button
                                    class="btn btn-info btn-sm">
                                <i class="fa fa-eye"></i>
                                <span class="d-none d-md-inline">View</span>
                            </button>
                            <button type="submit"
                                    class="btn btn-primary btn-sm">
                                <i class="fa fa-pencil"></i>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>
                            <button type="submit"
                                    class="btn btn-danger btn-sm">
                                <i class="fa fa-trash"></i>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <pagination [boundaryLinks]="true"
                        [totalItems]="pageOptions.totalRows"
                        [itemsPerPage]="pageOptions.pageSize"
                        [maxSize]="pageOptions.pageSize"
                        (pageChanged)="onPageChanged($event)"
                        previousText="&lsaquo;"
                        nextText="&rsaquo;" firstText="&laquo;"
                        lastText="&raquo;"></pagination>
        </div>
        <br>
    </div>
</div>
