<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                <h2 class="title">Change Password</h2>
                <form [formGroup]="passwordForm" (ngSubmit)="onSubmitNewPW()">
                    <div class="col-7">
                        <div class="input-group">
                            Old Password:<input class="input--style-4" type="text" name="oldPassword"  formControlName="oldPassword">
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="input-group">
                            New Password:<input class="input--style-4" type="password" name="newPassword" formControlName="newPassword">
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="input-group">
                            Repet Password:<input class="input--style-4" type="password" name="rePassword" formControlName="rePassword">
                        </div>
                    </div>
                    <div class="p-t-15">
                        <button class="btn btn--radius-2 btn--blue" type="submit" (click)="onSubmitNewPW()">Accept</button>
                    </div>
                </form>
                <br>
                <div align="center">
                    <span>
                        <a (click)="onClickGoHome()" style="cursor: pointer;color: blueviolet;">Back to HomePage</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

