<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                <h2>Change Password</h2>
                <br>
                <form [formGroup]="passwordForm" (ngSubmit)="onSubmitNewPW()">
                    <div class="col-7">
                        <div class="input-group">
                            Old Password:<input class="input--style-4" type="text" name="oldPassword"  formControlName="oldPassword">
                        </div>
                        <div *ngIf="f.oldPassword.invalid && (f.oldPassword.dirty || f.oldPassword.touched)">
                            <div *ngIf="f.oldPassword.errors.required"  class="help text-danger">oldPassword is required</div>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="input-group">
                            New Password:<input class="input--style-4" type="text" name="newPassword" formControlName="newPassword">
                        </div>
                        <div *ngIf="f.newPassword.invalid && (f.newPassword.dirty || f.newPassword.touched)">
                            <div *ngIf="f.newPassword.errors.required"  class="help text-danger">newPassword is required</div>
                            <div *ngIf="f.newPassword.errors.pattern" class="help text-danger">Password minimum eight characters, at least one letter and one number</div>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="input-group">
                            Repet Password:<input class="input--style-4" type="password" name="rePassword" formControlName="rePassword">
                        </div>
                        <div *ngIf="f.rePassword.invalid && (f.rePassword.dirty || f.rePassword.touched)">
                            <div *ngIf="f.rePassword.errors.required"  class="help text-danger">rePassword is required</div>
                            <div *ngIf="checkPassMatch('input')"  class="help text-danger">Password not match!</div>
                        </div>
                    </div>
                    <div class="p-t-15">
                        <button class="btn btn--radius-2 btn--blue" type="submit" (click)="onSubmitNewPW()">Accept</button>
                    </div>
                </form>
                <br>
                <div align="center">
                    <span>
                        <a (click)="onClickGoHome()" style="cursor: pointer;color: blueviolet;">Back to HomePage</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

