<div class="container bootstrap snippet" style="padding-top: 61px">
    <div class="row">
        <div class="col-sm-10"><h1></h1></div>
    </div>
    <div class="row">
        <div class="col-sm-3"><!--left col-->


            <div class="text-center">
                <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail"
                     alt="avatar">
                <h6>Upload a different photo...</h6>
                <input type="file" class="text-center center-block file-upload" style="width: 265px;">
            </div>
            <hr>
            <br>

            <ul class="list-group">
                <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Tổng số bài viết</strong></span>
                    12
                </li>
            </ul>
        </div><!--/col-3-->
        <div class="col-sm-9">

            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <hr>
                    <form class="form" action="##" method="post" id="registrationForm" [formGroup]="profileForm"
                          (ngSubmit)="onEdit()" class="row">
                        <div class="col-sm-6">
                            <div class="form-group">

                                <div class="col-xs-6" [hidden]="true" >
                                    <label><h4>id:</h4></label>
                                    <input type="text" class="form-control" name="id" id="id"
                                           placeholder="id" title="enter your first name if any." [readOnly]="true"
                                           formControlName="id">
                                </div>
                                <div class="col-xs-6" [hidden]="true" >
                                    <label><h4>id:</h4></label>
                                    <input type="text" class="form-control" name="password" id="password"
                                           placeholder="id" title="enter your first name if any." [readOnly]="true"
                                           formControlName="password">
                                </div>

                                <div class="col-xs-6">
                                    <label><h4>Username:</h4></label>
                                    <input type="text" class="form-control" name="first_name" id="username"
                                           placeholder="Username" title="enter your first name if any." [readOnly]="true"
                                           formControlName="username">
                                    <div *ngIf="f.username.invalid && (f.username.dirty || f.username.touched)">
                                        <div class="help text-danger" *ngIf="f.username.errors.required">Username is required!</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="fullName"><h4>Họ và tên:</h4></label>
                                    <input type="text" class="form-control" name="fullName" id="fullName"
                                           placeholder="fullName" title="enter your name if any."
                                           formControlName="fullName">
                                    <div *ngIf="f.fullName.invalid && (f.fullName.dirty || f.fullName.touched)">
                                        <div class="help text-danger" *ngIf="f.fullName.errors.required">fullName is required!</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="birthday"><h4>Ngày sinh:</h4></label>
                                    <input type="date" class="form-control" name="birthday" id="birthday"
                                           placeholder="enter birthday" title="enter your birthday if any."
                                           formControlName="birthday">
                                    <div *ngIf="f.birthday.invalid && (f.birthday.dirty || f.birthday.touched)">
                                        <div class="help text-danger" *ngIf="f.birthday.errors.required">birthday is required!</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="address"><h4>Địa chỉ:</h4></label>
                                    <input type="text" class="form-control" name="address" id="address"
                                           placeholder="enter address" title="enter your address if any."
                                           formControlName="address">
                                    <div *ngIf="f.address.invalid && (f.address.dirty || f.address.touched)">
                                        <div class="help text-danger" *ngIf="f.address.errors.required">address is required!</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="phoneNumber"><h4>Số điện thoại :</h4></label>
                                    <input type="text" class="form-control" name="phoneNumber" id="phoneNumber"
                                           placeholder="enter Phone  number" title="enter your mobile number if any."
                                           formControlName="phoneNumber">
                                    <div *ngIf="f.phoneNumber.invalid && (f.phoneNumber.dirty || f.phoneNumber.touched)">
                                        <div class="help text-danger" *ngIf="f.phoneNumber.errors.required">phoneNumber is required!</div>
                                        <div class="help text-danger" *ngIf="f.phoneNumber.errors.minlength">phoneNumber must be at 10 character!</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="skypeAcc"><h4>Skype Links:</h4></label>
                                    <input type="text" class="form-control" name="skypeAcc" id="skypeAcc"
                                           placeholder="enter Skype Links" title="enter your Skype Links if any."
                                           formControlName="skypeAcc">
                                    <div *ngIf="f.skypeAcc.invalid && (f.skypeAcc.dirty || f.skypeAcc.touched)">
                                        <div class="help text-danger" *ngIf="f.skypeAcc.errors.required">skypeAcc is required!</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="fbLink"><h4>Facebook Links:</h4></label>
                                    <input type="text" class="form-control" name="fbLink" id="fbLink"
                                           placeholder="enter Facebook Links" title="enter your Facebook Links if any."
                                           formControlName="fbLink">
                                    <div *ngIf="f.fbLink.invalid && (f.fbLink.dirty || f.fbLink.touched)">
                                        <div class="help text-danger" *ngIf="f.fbLink.errors.required">fbLink is required!</div>
                                    </div>
                                </div>
                            </div>
<!--                            <div class="form-group">-->
<!--                                <div class="col-xs-6">-->
<!--                                    <label for="fbLink"><h4>Trạng thái:</h4></label>-->
<!--                                    <span>{{status}}</span>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="email"><h4>Email:</h4></label>
                                    <input type="email" class="form-control" name="email" id="email"
                                           placeholder="you@email.com" title="enter your email."
                                           formControlName="email">
                                    <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)">
                                        <div class="help text-danger" *ngIf="f.email.errors.required">email is required!</div>
                                        <div class="help text-danger" *ngIf="f.email.errors.pattern">Invalid email!</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="university"><h4>Trường học:</h4></label>
                                    <input type="email" class="form-control" id="university" placeholder="university"
                                           name="university" formControlName="university"
                                           title="enter a university">
                                    <div *ngIf="f.university.invalid && (f.university.dirty || f.university.touched)">
                                        <div class="help text-danger" *ngIf="f.university.errors.required">university is required!</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="faculty"><h4>Khoa :</h4></label>
                                    <input type="text" class="form-control" name="faculty" id="faculty"
                                           placeholder="faculty" title="enter your university."
                                           formControlName="faculty">
                                    <div *ngIf="f.faculty.invalid && (f.faculty.dirty || f.faculty.touched)">
                                        <div class="help text-danger" *ngIf="f.faculty.errors.required">faculty is required!</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label><h4>Loại giáo dục:</h4></label>
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="userType" formControlName="education">
                                            <option>Đại Học</option>
                                            <option>Cao đẳng</option>
                                            <option>Trung cấp</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                        <div *ngIf="f.education.invalid && (f.education.dirty || f.education.touched)">
                                            <div class="help text-danger" *ngIf="f.education.errors.required">education is required!</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="graduationYear"><h4>Năm tốt nghiệp:</h4></label>
                                    <input type="number" class="form-control" name="graduationYear" id="graduationYear"
                                           [maxLength]="4"
                                           placeholder="graduationYear" title="enter your graduationYear."
                                           formControlName="graduationYear" >
                                    <div *ngIf="f.graduationYear.invalid && (f.graduationYear.dirty || f.graduationYear.touched)">
                                        <div class="help text-danger" *ngIf="f.graduationYear.errors.required">graduationYear is required!</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label><h4>Loại người dùng:</h4></label>
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="userType" formControlName="userType">
                                            <option>Nhân viên</option>
                                            <option>Thử việc</option>
                                            <option>Học việc</option>
                                            <option>Sinh viên</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                        <div *ngIf="f.userType.invalid && (f.userType.dirty || f.userType.touched)">
                                            <div class="help text-danger" *ngIf="f.userType.errors.required">userType is required!</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="createdDate"><h4>Ngày tạo:</h4></label>
                                    <input type="date" class="form-control" name="createdDate" id="createdDate"
                                           placeholder="userType" title="enter your userType."
                                           formControlName="createdDate" [disabled]="true" [readOnly]="true" >
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <br>
                                <button class="btn btn-lg btn-success" type="submit"><i
                                        class="glyphicon glyphicon-ok-sign"></i> Save
                                </button>
                            </div>
                        </div>
                    </form>

                    <hr>

                </div><!--/tab-pane-->

            </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->
</div>
